.stack-work/
test/
HLola.cabal
*~
dsl/dsl
**/**/main.aux
**/**/main.log
**/**/main.out
**/**/main.pdf
**/**/texput.log
**/**/main.bbl
**/**/main.bcf
**/**/main.blg
**/**/main.fdb_latexmk
**/**/main.fls
**/**/main.ptb
**/**/main.run.xml
**/**/main.tex
**/auto
