.stack-work/
test/
HLola.cabal
*~
dsl/dsl
dsl/testfiles/*
**/**/main.aux
**/**/main.log
**/**/main.out
**/**/main.pdf
**/**/texput.log
**/**/main.bbl
**/**/main.bcf
**/**/main.blg
**/**/main.fdb_latexmk
**/**/main.fls
**/**/main.ptb
**/**/main.run.xml
**/**/main.tex
**/auto
**/**/__pycache__
frontend/hlolac/preproc/preproc
frontend/html_highlighter/html_highlighter
frontend/latex_highlighter/latex_highlighter
stack.yaml.lock
